<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuaca</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body class="dark font-muli">
    <side-bar></side-bar>

    <div class="grid xl:grid-cols-3 xl:h-screen">
        <main class="transition-all duration-500 p-8 bg-gradient-to-b from-[#3092d3] to-[#d4d8dd] dark:from-[#000046] dark:to-[#6ac7e0] h-screen flex flex-col justify-between xl:block xl:h-screen">
            <div class="flex justify-between">
                <div class="px-4 py-2 3xl:text-xl outline-none dark:text-white dark:bg-gray-600 border-2 border-gray-800 rounded-md w-48 xl:w-64 cursor-pointer" id="cari-tempat">
                    Cari Tempat
                </div>
                <div class="flex items-center">
                    <!-- Rounded switch -->
                    <darkmode-toggle></darkmode-toggle>
                </div>
            </div>
            <div class="flex justify-center items-center mt-6 xl:mt-0 xl:h-[35vh] 3xl:h-[40vh] relative">
                <img src="<%= require('./assets/images/Clear.png'). default %>" class="w-[8rem] xl:w-[8rem] 2xl:w-[10rem] 3xl:w-[12rem] z-10">
            </div>
            <div class="flex justify-between items-center xl:h-[30vh] flex-col dark:text-white">
                <p class="mt-8 text-6xl xl:text-4xl 2xl:text-6xl 3xl:text-8xl font-bold">15°C</p>
                <p class="mt-8 text-3xl xl:text-2xl 2xl:text-3xl 3xl:text-5xl font-semibold">Cerah</p>
            </div>
            <div class="xl:hidden flex justify-between items-center my-5 dark:text-white">
                <div class="flex font-semibold">
                    <img src="<%= require('./assets/images/water-drop.svg'). default %>" class="filter-white w-8 h-6 mr-2"> <span id="mobile-humidity">13%</span>
                </div>
                <div class="flex font-semibold">
                    <img src="<%= require('./assets/images/steam-air.svg'). default %>" class="filter-white w-8 h-6 mr-2"> <span id="mobile-air-pressure">998 mb</span>
                </div>
                <div class="flex font-semibold">
                    <img src="<%= require('./assets/images/wind.svg'). default %>" class="filter-white w-8 h-6 mr-2"> <span>9 km/h </span>
                </div>
            </div>
            <div class="h-[20vh] flex flex-col justify-around items-center">
                <div class="flex justify-between text-lg 2xl:text-xl 3xl:text-2xl dark:text-white">
                    <p>Jumat, 9 Agustus 2021</p>
                </div>
                <p class="text-lg 2xl:text-xl 3xl:text-2xl dark:text-white medium flex justify-between items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 3xl:h-8 3xl:w-8 mr-4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                    </svg>
                    Jakarta
                </p>
            </div>
        </main>
        <section class="transition-all duration-500 xl:col-span-2 p-8 xl:px-12 2xl:px-20 3xl:px-32 dark:bg-[#100E1D]">
            <div class="flex justify-end items-center font-bold">
                <div class="text-[#100E1D] bg-[#e7e7e7] xl:text-lg 2xl:text-xl 3xl:text-2xl w-10 h-10 2xl:w-12 2xl:h-12 3xl:w-16 3xl:h-16 rounded-full justify-center items-center flex mr-10">
                    °C
                </div>
                <div class="text-[#e7e7e7] bg-yellow-700 dark:bg-[#585676] xl:text-lg 2xl:text-xl 3xl:text-2xl w-10 h-10 2xl:w-12 2xl:h-12 3xl:w-16 3xl:h-16 rounded-full justify-center items-center flex">
                    °F
                </div>
            </div>
            <div class="grid xl:grid-cols-5 gap-8 xl:gap-4 mt-8">
                <div class="transition-all duration-500 dark:text-white bg-blue-300 dark:bg-[#1E213A] p-4 flex justify-center items-center flex-col rounded-md">
                    <h3 class="text-2xl xl:text-lg 2xl:text-xl 3xl:text-2xl">Tomorrow</h3>
                    <img src="<%= require('./assets/images/HeavyCloud.png'). default %>" class="xl:w-16 xl:h-16 2xl:w-24 2xl:h-24 3xl:w-36 3xl:h-36 mt-2 3xl:mt-4 object-contain z-10">
                    <div class="flex justify-between w-full mt-2 px-3 3xl:mt-4 3xl:px-6 3xl:text-xl">
                        <p class="font-semibold">15°C</p>
                        <p class="text-gray-700 dark:text-[#A09FB1]">10°C</p>
                    </div>
                </div>
                <div class="transition-all duration-500 dark:text-white bg-blue-300 dark:bg-[#1E213A] p-4 flex justify-center items-center flex-col rounded-md">
                    <h3 class="text-2xl xl:text-lg 2xl:text-xl 3xl:text-2xl">11 Sept</h3>
                    <img src="<%= require('./assets/images/HeavyRain.png'). default %>" class="xl:w-16 xl:h-16 2xl:w-24 2xl:h-24 3xl:w-36 3xl:h-36 mt-2 3xl:mt-4 object-contain z-10">
                    <div class="flex justify-between w-full xl:mt-2 xl:px-3 3xl:mt-4 3xl:px-6 3xl:text-xl">
                        <p class="font-semibold">20°C</p>
                        <p class="text-gray-700 dark:text-[#A09FB1]">16°C</p>
                    </div>
                </div>
                <div class="transition-all duration-500 dark:text-white bg-blue-300 dark:bg-[#1E213A] p-4 flex justify-center items-center flex-col rounded-md">
                    <h3 class="text-2xl xl:text-lg 2xl:text-xl 3xl:text-2xl">12 Sept</h3>
                    <img src="<%= require('./assets/images/LightCloud.png'). default %>" class="xl:w-16 xl:h-16 2xl:w-24 2xl:h-24 3xl:w-36 3xl:h-36 mt-2 3xl:mt-4 object-contain z-10">
                    <div class="flex justify-between w-full xl:mt-2 xl:px-3 3xl:mt-4 3xl:px-6 3xl:text-xl">
                        <p class="font-semibold">15°C</p>
                        <p class="text-gray-700 dark:text-[#A09FB1]">10°C</p>
                    </div>
                </div>
                <div class="transition-all duration-500 dark:text-white bg-blue-300 dark:bg-[#1E213A] p-4 flex justify-center items-center flex-col rounded-md">
                    <h3 class="text-2xl xl:text-lg 2xl:text-xl 3xl:text-2xl">13 Sept</h3>
                    <img src="<%= require('./assets/images/LightRain.png'). default %>" class="xl:w-16 xl:h-16 2xl:w-24 2xl:h-24 3xl:w-36 3xl:h-36 mt-2 3xl:mt-4 object-contain z-10">
                    <div class="flex justify-between w-full xl:mt-2 xl:px-3 3xl:mt-4 3xl:px-6 3xl:text-xl">
                        <p class="font-semibold">15°C</p>
                        <p class="text-gray-700 dark:text-[#A09FB1]">10°C</p>
                    </div>
                </div>
                <div class="transition-all duration-500 dark:text-white bg-blue-300 dark:bg-[#1E213A] p-4 flex justify-center items-center flex-col">
                    <h3 class="text-2xl xl:text-lg 2xl:text-xl 3xl:text-2xl">14 Sept</h3>
                    <img src="<%= require('./assets/images/Thunderstorm.png'). default %>" class="xl:w-16 xl:h-16 2xl:w-24 2xl:h-24 3xl:w-36 3xl:h-36 mt-2 3xl:mt-4 object-contain z-10">
                    <div class="flex justify-between w-full xl:mt-2 xl:px-3 3xl:mt-4 3xl:px-6 3xl:text-xl">
                        <p class="font-semibold">15°C</p>
                        <p class="text-gray-700 dark:text-[#A09FB1]">10°C</p>
                    </div>
                </div>
            </div>
            <div class="hidden xl:block">
                <h2 class="xl:text-2xl 3xl:text-4xl xl:py-2 3xl:py-4">Status</h2>
                <div class="grid grid-cols-2 xl:gap-4 2xl:gap-6 3xl:gap-8">
                    <div class="transition-all duration-500 bg-blue-400 dark:bg-[rgb(30,33,58)] border-rounded text-white p-4 flex flex-col items-center justify-center rounded-xl">
                        <div class="xl:text-xl 2xl:text-2xl 3xl:text-3xl xl:mb-2 2xl:mb-3 3xl:mb-4 flex items-center">
                            <p class="">Angin</p> 
                            <img src="<%= require('./assets/images/wind.svg'). default %>" class="filter-white w-12 h-12 ml-5 z-10">
                        </div>
                        <p class="xl:text-3xl 2xl:text-4xl 3xl:text-6xl font-medium xl:mb-2 2xl:mb-3 3xl:mb-4">
                            <span class="xl:text-4xl 2xl:text-6xl 3xl:text-8xl font-bold">8</span>
                            km/h
                        </p>
                    </div>
                    <div class="transition-all duration-500 bg-blue-400 dark:bg-[rgb(30,33,58)] border-rounded text-white p-4 flex flex-col items-center justify-center rounded-xl">
                        <div class="xl:text-xl 2xl:text-2xl 3xl:text-3xl xl:mb-2 2xl:mb-3 3xl:mb-4 flex items-center">
                            <p class="">Kelembaban Udara</p> 
                            <img src="<%= require('./assets/images/water-drop.svg'). default %>" class="filter-white w-12 h-8 ml-5 z-10">
                        </div>
                        <p class="xl:text-3xl 2xl:text-4xl 3xl:text-6xl font-medium xl:mb-2 2xl:mb-3 3xl:mb-4">
                            <span class="xl:text-4xl 2xl:text-6xl 3xl:text-8xl font-bold">84</span>
                            %
                        </p>
                    </div>
                    <div class="transition-all duration-500 bg-blue-400 dark:bg-[rgb(30,33,58)] border-rounded text-white p-4 flex flex-col items-center justify-center rounded-xl">
                        <div class="xl:text-xl 2xl:text-2xl 3xl:text-3xl xl:mb-2 2xl:mb-3 3xl:mb-4 flex items-center">
                            <p class="">Visibilitas</p> 
                            <img src="<%= require('./assets/images/eye.svg'). default %>" class="filter-white w-8 h-8 ml-5 z-10">
                        </div>
                        <p class="xl:text-3xl 2xl:text-4xl 3xl:text-6xl font-medium xl:mb-2 2xl:mb-3 3xl:mb-4">
                            <span class="xl:text-4xl 2xl:text-6xl 3xl:text-8xl font-bold">10</span>
                            km
                        </p>
                    </div>
                    <div class="transition-all duration-500 bg-blue-400 dark:bg-[rgb(30,33,58)] border-rounded text-white p-4 flex flex-col items-center justify-center rounded-xl">
                        <div class="xl:text-xl 2xl:text-2xl 3xl:text-3xl xl:mb-2 2xl:mb-3 3xl:mb-4 flex items-center">
                            <p class="">Tekanan Udara</p> 
                            <img src="<%= require('./assets/images/steam-air.svg'). default %>" class="filter-white w-12 h-8 ml-5 z-10">
                        </div>
                        <p class="xl:text-3xl 2xl:text-4xl 3xl:text-6xl font-medium xl:mb-2 2xl:mb-3 3xl:mb-4">
                            <span class="xl:text-4xl 2xl:text-6xl 3xl:text-8xl font-bold">823</span>
                            mb
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>