<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuaca</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body class="font-muli">
    <div class="grid xl:grid-cols-3 xl:h-screen">
        <main class="p-8 bg-gradient-to-b from-[#000046] to-[#1CB5E0] xl:h-screen">
            <div class="flex justify-between">
                <input type="text" placeholder="Cari tempat" class="px-4 py-2 text-xl outline-none text-white placeholder-white bg-gray-600 rounded-md">
                <div class="flex items-center">
                    <!-- Rounded switch -->
                    <label class="inline-block relative w-16 h-9 mr-6 md:mr-20" title="Toggle Dark Mode">
                        <input type="checkbox" class="opacity-0 w-0 h-0 peer" id="toggle-dark-mode" checked>
                        <span class="absolute cursor-pointer inset-0 bg-[#d4d5e4] peer-focus:shadow-sm peer-checked:bg-[#505156] transition-all duration-300 before:absolute before:h-7 before:w-7 before:left-1 before:bottom-1 before:bg-gradient-to-r before:from-yellow-400 before:to-red-400 before:transition-all before:duration-500 peer-checked:before:translate-x-7 rounded-full before:rounded-full toogle-moon"></span>
                    </label>
                </div>
            </div>
            <div class="flex justify-center items-center xl:h-[40vh] relative">
                <img src="<%= require('./assets/images/Clear.png'). default %>">
                <img src="<%= require('./assets/images/Cloud-Background-night.png'). default %>" class="mix-blend-soft-light absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 3xl:w-[36rem]">
            </div>
            <div class="flex justify-between items-center xl:h-[30vh] flex-col">
                <p class="text-white mt-8 3xl:text-8xl font-bold">15°C</p>
                <p class="text-white mt-8 3xl:text-5xl font-semibold">Cerah</p>
            </div>
            <div class="h-[20vh] flex flex-col justify-around items-center">
                <div class="flex justify-between text-2xl text-white">
                    <p>Jumat, 9 Agustus 2021</p>
                </div>
                <p class="text-2xl text-white medium flex justify-between items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                    </svg>
                    Jakarta
                </p>
            </div>
        </main>
        <section class="grid-cols-2 p-8 xl:px-32">
            <div class="">
            </div>
        </section>
    </div>
    <script src="index.js"></script>
</body>
</html>