@tailwind base;
@tailwind components;
@tailwind utilities;

#toggle-dark-mode:checked~.toogle-moon:before {
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(42deg) brightness(101%) contrast(100%);
}

.dark .dark\:filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(42deg) brightness(101%) contrast(100%);
}

.temperature.active {
    @apply text-[#e7e7e7] bg-yellow-700 dark:text-[#100E1D] dark:bg-[#e7e7e7] cursor-pointer;
}

.temperature {
    @apply text-[#100E1D] bg-[#e7e7e7] dark:bg-[#585676] dark:text-white cursor-pointer;
}