@tailwind base;
@tailwind components;
@tailwind utilities;

#toggle-dark-mode:checked~.toogle-moon:before {
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(42deg) brightness(101%) contrast(100%);
}